    body {
        padding: 0;
        margin: 0;
    }
    /* toggle button responsive brackpoint  */
    
    @media(max-width:1000px) {
        .navcontainer-Custom {
            justify-content: flex-start !important;
        }
    }
    /* navigation manue  */
    /* global classes */
    
    button {
        cursor: pointer;
    }
    
    a {
        text-decoration: none;
    }
    /* global classes  end */
    
    ul>li {
        padding-left: 1.5rem;
    }
    
    .logo-image {
        width: 55px;
        height: 68px;
    }
    /* intro section start  */
    
    #intro {
        position: relative;
        height: 90vh;
        background-color: black;
    }
    
    .background-image {
        background-image: url(./img/rsz_1background.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: auto;
        height: auto;
        /* background-attachment: fixed; */
    }
    
    .intro-container-custom {
        width: 50%;
    }
    
    .intro-container-custom h1,
    p {
        color: white;
    }
    
    @media(max-width:1000px) {
        .background-image {
            display: none;
        }
        #intro::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0;
            right: 0;
            bottom: 0px;
            background-image: url(./img/rsz_1background.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            opacity: .2;
            z-index: 1;
        }
    }
    /* second section start  */
    
    #section2 img {
        width: 80px;
        height: 100px;
    }
    
    .about-card-container-custon {
        width: 60%;
        top: -70px;
        z-index: 77777777777;
    }
    
    .card,
    .card-2 {
        padding: 1.8rem 1rem;
    }
    
    .card p {
        color: rgb(0, 0, 0);
    }
    
    .card a {
        color: rgb(255, 6, 6);
    }
    
    .card {
        background-color: white;
        color: white;
    }
    
    .card-2 {
        position: relative;
        background-color: rgba(252, 9, 9, 0.7);
    }
    
    .card-2 p,
    a {
        color: white;
    }
    
    .card-2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0px;
        background-image: url(./img/icon1.png);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
        z-index: -1;
    }
    
    @media(max-width:1000px) {
        .about-card-container-custon {
            width: 100%;
        }
    }
    /* section three start */
    
    #section3 .image-container {
        width: 100%;
        height: 400px;
        position: relative;
    }
    
    #section3 .image-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: .6;
    }
    
    #section3 .image-container::before {
        content: "";
        position: absolute;
        top: -28px;
        left: -28px;
        width: 28px;
        height: 300px;
        background-color: rgb(247, 15, 15);
    }
    
    #section3 .image-container .img::before {
        content: "";
        position: absolute;
        top: -28px;
        left: -28px;
        width: 300px;
        height: 28px;
        background-color: rgb(247, 15, 15);
        z-index: -1111111111;
    }
    
    .left-image-second-section {
        width: 90%;
        height: 600px;
    }
    
    .right-image-second-section {
        width: 90%;
        height: 400px;
    }
    /* get standerd */
    
    #get-stamderd {
        height: 400px;
    }
    
    .get-standerd-background {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1111111111111;
    }
    
    .get-standerd-background::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0px;
        background-image: url(./img/rsz_1section8.png);
        background-repeat: no-repeat;
        opacity: .3;
        background-position-x: center;
        z-index: -1;
    }
    
    .get-standerd-background::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(252, 9, 9, 1);
        z-index: -111111111111111;
        background-attachment: fixed;
    }
    
    @media(max-width:800px) {
        .get-standerd-background div {
            width: 100% !important;
        }
    }
    /* frequestly ask question  */
    
    #frequently-Question button {
        background-color: rgba(253, 16, 16, 0.541);
        color: rgb(244, 248, 244);
        font-size: 1.2rem;
        font-weight: 600;
        outline: none;
    }
    
    #frequently-Question p {
        color: black;
    }
    /* product details start  */
    
    .small-image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        width: 100%;
    }
    
    .small-image-container img {
        width: 151px;
        height: 108px;
    }
    
    .small-image-container a {
        padding: 3rem 1.6rem;
    }
    
    .small-image-container a:hover {
        background-color: rgb(250, 7, 7);
    }
    
    .details {
        height: auto;
        padding: 2rem 0rem;
        background-color: red;
    }
    /* rule one  */
    
    #rule-one,
    #rule-two,
    #third-rule {
        padding: 1.4rem;
    }
    
    .contant-container p {
        color: black;
    }
    /* rule2 */
    
    #rule-two {
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .contant-container2 p,
    h2 {
        color: rgb(247, 243, 243);
    }
    
    .img-containe2 img {
        width: 50%;
        border-radius: 50%;
        background-color: rgba(5, 5, 5, 0.151);
    }
    
    @media(max-width: 768px) {
        .customOrderTwo {
            order: 1;
        }
        .customOrderOne {
            order: 2;
        }
    }
    
    .product-order-details {
        padding: 2.8rem 2rem;
    }
    
    .product-order-details p {
        color: black;
        font-weight: 600;
    }